{% extends "./base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}

    <main>
        <link rel="stylesheet" href="{% static 'estan.css' %}">
        <h1>Estany</h1>
        <div>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="SKU" name="sku">
                <button type="submit">Dodaj</button>
            </form>
        </div>

        <div>   
        {% for i in estan %}
        <form class="f-form" action="" method="POST">
            {% csrf_token %}
            <input class="inp" type="text" placeholder="SKU: {{i.sku}}"><input class="inp" type="text" placeholder="EAN: {{i.ean}}"><input class="inp" type="text" placeholder="Nazwa: {{i.name}}"><input class="inp" type="text" placeholder="Estan: {{i.Estan}}"><button type="submit">Aktualizuj</button>
        </form>
        {% endfor %}
        </div>
        
    </main>

{% endblock %}